body {
    background-color: #53E65F;
    margin: 0;
}

header,
.intro,
.info-container,
.action,
.action-container {
    display: flex;
}

.logo {
    width: 100px;
    height: auto;
}

.intro img {
    width: 400px;
    height: auto;
}

.info-container img {
    width: 200px;
    height: auto;
}

header {
    justify-content: space-between;
}

.intro,
header {
    background-color: #E68D3C;
}

.quote {
    width: 100vw;
    background-color: #289931;
}