body {
    background-color: #DB8048;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

header,
.intro,
.info-container,
.action,
.action-container,
.logo-container {
    display: flex;
}
header,
.action,
.footer {
    padding: 0 10vw;
}
header {
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    gap: 20px;
    font-size: 36px;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
}
.logo-h1 {
    font-size: 36px;
}
.links  {
    list-style-type: none;
    
}
a {
    padding-left: 20px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;    
}
.intro img {
    width: auto;
    height: 400px;
}

.info-container img {
    width: 200px;
    height: auto;
}



.intro,
header,
footer {
    background-color: #2A2299;
}

.quote {
    width: 80vw;
    padding: 40px 10vw;
    font-size: 36px;
    background-color: #cbe5ff;
}


.intro {
    padding: 40px 10vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: white;
}
.intro-content {
    width: 600px;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    color: white;
}
h2 {
    padding: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.info {
    padding: 0px 10vw;
    padding-bottom: 40px;
}
.info-container {
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 40px;
    text-align: center;
}

blockquote {
    max-width: 80vw;
    font-style: italic;
}
figcaption {
    text-align: right;
}

footer  {
    text-align: center;
}
.action-container {
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    width: 80vw;
    background-color:#2B8F1A;
}
.action-text-container {
    color: white;

}